
@{
}
<style>
    div.validation-message {
        color: rgb(220,53,69);
        font-weight: 500
    }
</style>

<h3 class="text-white text-center p-1">h3</h3>

<form>


    <div class="form-group">
        <label>Group ID:</label>
        <input class="form-control" disabled value="in the form" />
    </div>

</form>


