
@{
}

@model Booking

<h1> Fill out this Form Please!</h1>
<style>
    div.validation-message {
        color: rgb(220,53,69);
        font-weight: 500
    }
</style>

<h3 class="text-center p-1">Enter your information for your temple tour on @ViewBag.Apt.Day at @ViewBag.Apt.Time </h3>

<form method="post" asp-controller="Home"asp-action="Form">

    @*<div class="form-group">
        <label asp-for="BookID">Book#:</label>
        <input class="form-control" disabled value="@Model.BookID" />
    </div>*@

    <div class="form-group">
        <label asp-for="AptId">Appointment#:</label>
        <input asp-for="AptId" class="form-control" disabled value="@ViewBag.Apt.AptId" />
    </div>

    <div class="form-group">
        <label asp-for="GroupName">Group Name:</label>
        <input asp-for="GroupName" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="GroupSize">Group Size:</label>
        <input asp-for="GroupSize" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Phone">Phone:</label>
        <input asp-for="Phone" class="form-control" />
    </div>

    @*<div class="float-end">
            <button class="btn-btn-primary" type="submit" value="Make Appointment" />
        </div>*@
    <button type="submit">Make Appointment</button>
    <button class="btn btn-secondary" href="Home/Index">Cancel</button>

</form>


