@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Payson? Utah Temple</h1>
    <br />
    <img width="500" src="~/img/templepic.jpg" />
    <br />
    <br />
    <p>Easily book your appointments <a asp-area="" asp-controller="Home" asp-action="Signup">here</a></p>

</div>
