
@{
}

@model List<Appointment>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Day</th>
            <th>Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.Day</td>
                <td>@a.Time</td>
                <td><a class="btn btn-secondary" asp-controller="Home" asp-action="Form" >Book</a></td>
            </tr>
        }
    </tbody>
</table>



